<div class="root">
    <div class="root_padding">
        {% include '../include/header.twig' %}

        <div class="section">
            <br>
            <h1>Index content</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo mollitia saepe. Accusamus ad alias
                harum placeat quas quia recusandae, tenetur voluptate. Dolorem!</p>
            <br>
        </div>
    </div>
</div>
{% include '../include/footer.twig' %}

