$size-xl: 1200px;
$size-lg: 992px;
$size-md: 768px;
$size-sm: 576px;

$container-xl: 1200px;
$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;
$container-esm: 100%;

$pads-xl: 60px;
$pads-lg: 30px;

$pads-tablet: $pads-xl;
$pads-mobile: 40px;

$base-font-size: 16;

$container-sticky: 120vh;



$color: white;
$sizeL: 333px;
$bgColor: #ccc;
