{% extends 'template/layout/default.twig' %}

{% block title %}<title>Index</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block js %}
    <script src="js/index.js"></script>
{% endblock %}

{% block body %}
    {% include 'template/page/index.twig' %}
{% endblock %}